/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*  Created on : Jul 15, 2015, 9:40:55 PM Author     : vinh
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*  Created on : Jul 20, 2015, 4:50:29 PM Author     : vinh
*/
.vt-move { transition: All 1s ease; -webkit-transition: All 1s ease; -moz-transition: All 1s ease; -o-transition: All 1s ease; }

vt-move-active { opacity: 0; top: -50%; }

#vt-preloader-wrapper { position: absolute; top: 0px; left: 0px; background-color: #ee6e73; z-index: 9999; }

.overflow-hidden { overflow: hidden; }

main { padding-top: 20px; padding-bottom: 20px; }

body { height: 100vh; }

.fullheight { height: 100vh; }

.text-center { text-align: center; }

.padding { padding: 10px; }
.padding.x2 { padding: 20px !important; }
.padding.x3 { padding: 30px !important; }
.padding.x4 { padding: 40px !important; }

.padding-left { padding-left: 10px; }
.padding-left.x2 { padding-left: 20px !important; }
.padding-left.x3 { padding-left: 30px !important; }
.padding-left.x4 { padding-left: 40px !important; }

.padding-right { padding-right: 10px; }
.padding-right.x2 { padding-right: 20px !important; }
.padding-right.x3 { padding-right: 30px !important; }
.padding-right.x4 { padding-right: 40px !important; }

.padding-top { padding-top: 10px; }
.padding-top.x2 { padding-top: 20px; }
.padding-top.x3 { padding-top: 30px; }
.padding-top.x4 { padding-top: 40px; }
.padding-top.x5 { padding-top: 50px; }

.padding-bottom { padding-bottom: 10px; }

.margin { margin: 10px; }

.margin-top { margin-top: 10px; }

.margin-right { margin-right: 10px; }

.margin-bottom { margin-bottom: 10px; }

.margin-left { margin-left: 10px; }

.no-margin { margin: 0; }

.ellipsis { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.full-width { width: 100%; }

.ui-datascroller-content { padding: 0; }

.ui-widget-content { border: 0; background: inherit; color: inherit; }

.ui-widget { font-family: Roboto, sans-serif; }

.vt-autocomplete.ui-autocomplete { width: 100%; }

.vt-autocomplete .ui-autocomplete-multiple-container { width: 100%; background: transparent; box-shadow: none; border: 0px; border-bottom: 1px solid #9e9e9e; border-radius: inherit; }
.vt-autocomplete .ui-autocomplete-multiple-container input { border-bottom: 0px !important; box-shadow: none !important; padding-left: 5px; }
.vt-autocomplete .ui-autocomplete-multiple-container .ui-autocomplete-token { display: list-item; background: #eee; border: 1px solid #eee; border-radius: 10px; box-shadow: none; text-shadow: none; margin: 5px; }
.vt-autocomplete .ui-autocomplete-multiple-container .ui-autocomplete-token:hover { background: #ee6e73; color: white; }
.vt-autocomplete .ui-autocomplete-multiple-container .ui-autocomplete-token:active { background: #ee6e73; color: white; }
.vt-autocomplete .ui-autocomplete-multiple-container .ui-autocomplete-token .ui-autocomplete-token-label { padding: 10px 20px 10px 10px; }
.vt-autocomplete .ui-autocomplete-multiple-container .ui-autocomplete-token .ui-autocomplete-token-icon { top: 10px; }

.vt-focus { border-bottom: 1px solid #26a69a !important; box-shadow: 0 1px 0 0 #26a69a !important; }

.vt-oneBtn .ui-button { overflow: hidden; background-color: white; color: #333; font-weight: normal; background-image: none; }
.vt-oneBtn .ui-button .ui-button-text { display: inline; }
.vt-oneBtn .ui-button.ui-state-active { background-color: #ee6e73; color: white; }

.switch { /*height: 58px;*/ /* vertical-align: middle; */ display: flex; align-items: flex-end; }

.vt-booleancheckbox.ui-inputswitch { border-radius: 10px; border: 1px solid #ddd; }
.vt-booleancheckbox.ui-inputswitch .ui-inputswitch-off { background-color: #ee6e73; height: 25px; color: white; font-weight: normal; background-image: none; }
.vt-booleancheckbox.ui-inputswitch .ui-inputswitch-on { height: 25px; top: -1px; color: white; font-weight: normal; text-shadow: none; width: 32px; background-image: none; background-color: #26a69a; }
.vt-booleancheckbox.ui-inputswitch .ui-inputswitch-handle { background-image: none; background-color: #f1f1f1; }

.ui-column-customfilter .vt-selectonemenu { width: 100% !important; }
.ui-column-customfilter .vt-selectonemenu label { width: 100% !important; }

.vt-dialog.ui-widget-content { background-color: white; }
.vt-dialog .ui-dialog-titlebar { display: none; }

/*materializecss*/
